         @{
    Layout = "_Layout2";
    
}
         
                        <h2 class="text-white mb-2">501<span class="fs-20">error</span></h2>
                        <h5 class="error-details text-white">
                            Oops! Some error has occured, Requested page not found!
                        </h5>
                        <div class="text-center">
                            <a class="btn btn-primary mt-5 mb-5" asp-controller="Home" asp-action="Index"> <i class="fa fa-long-arrow-left"></i> Back to Home </a>
                        </div>