<div class="row align-items-center">
    <div class="col-12 col-md-6 col-lg-5 order-last order-md-first">
        <div class="ms-2">
            <h1>
                <strong>Build and maintain <span style="color: #e73a84">great</span> software with
                    automated <span style=
                "color: #5ba3f8">bugtracking.</span></strong>
            </h1>
            <p></p>
            <div>
                <p><h2>A simple and FAST bug tracking system that helps you manage software bugs easily and deliver great products on time.</h2></p>
                <h3 style="font-size:26px;"> <br><br><strong>Built with pride using cutting edge tech:</strong></h3>
                <br><i style="font-size:50px;" class="devicon-dot-net-plain-wordmark colored icon p-2"></i>
                <i style="font-size:50px;" class="devicon-csharp-plain-wordmark colored icon p-2"></i>
                <i style="font-size:50px;"class="devicon-postgresql-plain-wordmark colored icon p-2"></i>
                <i style="font-size:50px;" class="devicon-bootstrap-plain-wordmark colored icon p-2"></i>

            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-7 text-center">
        <img src="~/assets/images/media/bugtrackerlanding.png" class="img-fluid"/>
    </div>
</div>