<!-- FOOTER -->
			
            <footer class="footer container-fluid">
     <div class="row align-items-center py-2">
            <div class="col">
                <div class="row align-items-center gy-2">
                    <div class="p-4 col d-flex justify-content-center justify-content-md-start order-last order-md-first copyright">
                        &copy; 2022 Casey Spaulding All Rights Reserved
                    </div>
                    <div class="col d-flex justify-content-center">
             
                    <img src="~/assets/images/brand/btlogolongnew.png" height="50"/>
                    </div>
                    <div class="col-12 col-md d-flex justify-content-center justify-content-md-end">
                    <a href="https://www.linkedin.com/in/caseyspaulding/" class="socialicons"><i style="font-size:30px;" class="bi bi-linkedin p-2 "></i></a>
                    <a href="https://twitter.com/caseyspauldingg" class="socialicons"><i style="font-size:30px;" class="bi bi-twitter p-2"></i></a>
                    <a href="https://www.youtube.com/channel/UC5bLstR32GMs08BsNu_s5xg" class="socialicons"><i style="font-size:30px;" class="bi bi-youtube p-2"></i></a>
                    <a href="http://www.caseyspaulding.com" class="socialicons"><i style="font-size:30px;" class="bi bi-briefcase p-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
			<!-- FOOTER END -->